@inject LanguageService language
<div class="section_about">
    <div class="about_boxs">


        <div class="about_box m-auto text-center">
            <h6>
                <span>JMD</span> @language.Getkey("ləqəbli Ceyhun Məmmədov sosial media ortamında Jeyhun MD (jmd) olaraq tanınır.10 illik bir qrafik dizayn və rəqəmsal sənət təcrübəsi var. 2 ildir ki, NFT kolleksiyalar da yaradır.Həyatı boyunca 4 kitab və 3 qısa metrajlı film çəkmək təcrübəsinə də yiyələnib. Nariman film şirkəti ilə də aktyor üzrə əməkdaşlıq edib. Kontakt home, Mover.az, Novco, Beynəlxalq bank,Kapital bank, Nar kimi yerli şirkətlərlə dizaynerlik üzrə əməkdaşlığı olub. Beynəlxalq şirkətlərdən isə Samsung, Lacoste və hal-hazırda aktiv şəkildə davam edən Durex ilə əməkdaşlıq edir.")

                <h6>
                    @language.Getkey("3 ildir fəaliyyət göstərən") <span>Digiltable</span> @language.Getkey("adlı reklam agentliyini özünə məxsus şəkildə 2020-ci ilə yaradıb və aktivliyi hələ də davam edir. 2023-cü ildə isə JMD adlı brand online mağazasını qurub.")
                </h6>

                <h6>
                    @language.Getkey("Beynəlxalq üzrə Skateboard Punk Shop NFT kolleksiyası ilə 220-dən çox satış edərək yüksəlişə qalxıb.Kəpənək Effekti Qadınlar Kulubu adlı NFT kolleksiyası (Butterfly Effect Women's Club) isə Azərbaycan və beynəxalq üzrə çox sevilib. Hətta onunla bağlı özəl seminar İyun ayında keçirilib.")
                </h6>

                <h6>
                    <span>Jeyhun MD</span> @language.Getkey("həmçinin motion graphic dizaynerliklə də məşğuldur.") <br>
                    <span>Surreal art</span> @language.Getkey("işləri ilə xüsusi emosiyalar ötürməyə çalışır. Dizaynlarında hər zaman izləyicilərlə duyğusal bağı qurmağa meyillənir. Yeniliklərdən digəri isə kvant fizikası ilə dizaynı birləşdirmək olub.")
                </h6>
            </h6>
        </div>

    </div>
</div>