@inject LanguageService language
@model OrderDTO
<div class="section_order">
    <div class="order_boxes">
        <form id="orderForm" method="post" action="/Home/Order">
          
            <label for="Name">@language.Getkey("Ad")</label>
            <input type="text" name="Name" id="Name" required>

            <label for="Email">@language.Getkey("E-poçt")</label>
            <input type="email" name="Email" id="Email" required>

            <label for="Telephone">@language.Getkey("Telefon")</label>
            <input type="number" name="Telephone" id="Telephone" required>

            <label for="OrderType">@language.Getkey("Order tipi")</label>
            <div class="boxes_bottom">
                <div class="custom-select">
                    <div class="selected-option">@language.Getkey("Seçin")</div>
                    <i class="fa-solid fa-chevron-down"></i>
                    <div class="optiones">
                        @foreach (var orderType in @ViewBag.OrderTypeList)
                        {
                            <div class="option" data-value="@orderType.Id"><a href="#">@orderType.OrderName</a></div>
                        }
                    </div>
                    <input type="hidden" name="OrderTypeId" id="HiddenOrderTypeId">
                    <input type="text" class="input_value d-none" name="OrderName" id="OrderName">

                    <div class="textarea_input">
                        <label for="Message">@language.Getkey("Mesaj")</label>
                        <textarea name="Message" id="Message" class="textarea"></textarea>
                        <button type="button" id="orderButton">@language.Getkey("Sifariş et")</button>
                    </div>
                </div>
            </div>

            <!-- Error message for empty fields -->
            <div id="errorMessage" class="error-message" style="color: red;"></div>
        </form>
        <div class="order_overlay">
            <div class="overlay_text d-flex align-items-center h-100 justify-content-center">
                <p>Sifarişiniz qeydə alındı! </p>
                <svg xmlns="http://www.w3.org/2000/svg" class="svg_1" width="12" height="9" viewBox="0 0 12 9" fill="none">
                    <path d="M3.52492 6.92579L1.15999 4.56086C1.03256 4.43343 0.859723 4.36184 0.679506 4.36184C0.49929 4.36184 0.326455 4.43343 0.199023 4.56086C0.0715906 4.68829 0 4.86113 0 5.04134C0 5.13058 0.0175761 5.21894 0.0517245 5.30138C0.0858729 5.38382 0.135925 5.45873 0.199023 5.52183L3.04785 8.37065C3.31365 8.63645 3.74302 8.63645 4.00882 8.37065L11.2195 1.15999C11.3469 1.03256 11.4185 0.859723 11.4185 0.679506C11.4185 0.49929 11.3469 0.326455 11.2195 0.199023C11.092 0.0715908 10.9192 0 10.739 0C10.5588 0 10.3859 0.0715908 10.2585 0.199023L3.52492 6.92579Z" fill="#78FD62" />
                </svg>
                <div class="overlay_remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M13.707 1.70686L12.293 0.292862L6.99997 5.58586L1.70697 0.292862L0.292969 1.70686L5.58597 6.99986L0.292969 12.2929L1.70697 13.7069L6.99997 8.41386L12.293 13.7069L13.707 12.2929L8.41397 6.99986L13.707 1.70686Z" fill="white" fill-opacity="0.7" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".option").click(function () {
                var orderTypeId = $(this).data("value");
                $("#HiddenOrderTypeId").val(orderTypeId);
                $("#OrderName").val($(this).text()); // Store the selected order name
                $(".selected-option").text($(this).text());
            });

            $("#orderButton").click(function (e) {
                e.preventDefault();

                // Check if any of the input fields are empty
                if (
                    $("#Name").val() === "" ||
                    $("#Email").val() === "" ||
                    $("#Telephone").val() === "" ||
                    $("#HiddenOrderTypeId").val() === "" ||
                    $("#Message").val() === ""
                ) {
                    $("#errorMessage").text("Please fill in all fields.");
                } else {
                    // All fields are filled, so clear any previous error message
                    $("#errorMessage").empty();

                    var formData = new FormData($("#orderForm")[0]);

                    // Send an AJAX POST request to the controller
                    $.ajax({
                        url: "/Home/Order",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            // Hide the form and show the success message overlay
                            //$("#orderForm").hide();
                            $(".order_overlay p").text("Sifarişiniz qeydə alındı!");
                            $(".order_overlay").addClass("order_overlay_active");
                            //window.setTimeout(function () {
                            //    $(".order_overlay").removeClass("order_overlay_active");
                            //    window.location.href = '/Home/Index';
                            //}, 5000); // Redirect after 5 seconds
                            $(".overlay_remove").click(function () {
                                $(".order_overlay").removeClass("order_overlay_active");
                                setTimeout(function () {
                                    // Redirect to '/Home/Index'
                                    window.location.href = '/Home/Index';
                                }, 1000);
                            });
                        },
                        error: function (error) {
                            console.error("Error placing the order:", error);
                        }
                    });
                }
            });
        });
    </script>
}

